<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title %></title>
</head>

<body>

  <% if (locals.user) { %>
  <h1>Welcome back, <%= user.firstname %></h1>
  <% if (!locals.user.membership_status) { %>
  <a href="/join">Become a member</a>
  <% } %>
  <a href="/newmessage">Add new message</a>
  <a href="/log-out">Log out</a>


  <% } else { %>
  <h1>Login</h1>

  <%- include("partials/logInErrors.ejs") %>

  <form action="/log-in" method="post">
    <div>
      <label for="username">Username</label>
      <input id="username" name="username" type="text" />
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
    </div>
    <input type="submit" value="Log-in">

  </form>

  <hr>
  <p>Dont have an account?</p>
  <a href="/sign-up">Sign Up</a>
  <% } %>

  <hr>
  <h2>Messages</h2>
  <div>
    <% locals.messages.forEach((msg) => { %>
    <div>
      <% if (locals.user && (locals.user.membership_status || locals.user.username === msg.username)) { %>
      <p><%= msg.username %> says:</p>
      <p><%=msg.message %></p>
      <p>On <%= msg.date_only.toLocaleDateString('en-GB') %></p>
      <% } else { %>
      <p><%= msg.username.replace(/./g, '*')%> says:</p>
      <p><%=msg.message %></p>
      <% } %>
      <% if (locals.user && locals.user.admin_status) { %>
        <a href="/delmessage?deleteId=<%=msg.id%>">Delete</a>
      <% } %>
    </div>
    <% }) %>
  </div>

</body>

</html>