<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="header">
    <h1 class="logo"><a href="/">SECRET TEXTS</a></h1>

    <% if (locals.user) { %>
    <div class="welcomeMessage">
      <h1>Welcome back, <%= user.firstname %> <%= user.lastname %></h1>
      <% if (locals.user.admin_status) { %>
      <p>STATUS: ADMIN</p>
      <% } else if (locals.user.membership_status) { %>
      <p>STATUS: MEMBER</p>
      <% } else { %>
      <p>STATUS: GUEST</p>
      <% } %>
    </div>

    <div class="navButtons">
      <% if (!locals.user.membership_status) { %>
      <a href="/join">BECOME A MEMBER</a>
      <% } %>
      <% if (locals.user.membership_status && !locals.user.admin_status) { %>
      <a href="/upgrade">UPGRADE TO ADMIN</a>
      <% } %>

      <a href="/newmessage">ADD NEW MESSAGE</a>
      <a href="/log-out">LOG OUT</a>
    </div>


    <% } else { %>

    <div class="loginBox">
      <div class="loginErrorBox">
        <%- include("partials/logInErrors.ejs") %>
      </div>
      <form action="/log-in" method="post">
        <div>
          <label for="username">Username</label>
          <input id="username" name="username" type="text" />
        </div>
        <div>
          <label for="password">Password</label>
          <input id="password" name="password" type="password" />
        </div>
        <button type="submit">LOG IN</button>

      </form>
    </div>


    <div class="signUpQuestion">
      <p>Don't have an account?</p>
      <a href="/sign-up">Sign Up</a>
    </div>
    <% } %>
  </div>

  <div class="middle">
    <% if (locals.messages.length > 0) { %>
    <div class="messageContainer">
      <% locals.messages.forEach((msg) => { %>
      <div class="messagebox">
        <% if (locals.user && (locals.user.membership_status || locals.user.username === msg.username)) { %>
        <p class="messageAuthor"><%= msg.username %> :</p>
        <p><%=msg.message %></p>
        <p class="messageDate"><%=  msg.formatted_date %></p>
        <% } else { %>
        <p class="messageAuthor"><%= msg.username.replace(/./g, '*')%> :</p>
        <p><%=msg.message %></p>
        <% } %>
        <% if (locals.user && locals.user.admin_status) { %>
        <form action="/delmessage" method="post">
          <input type="hidden" name="deleteId" value="<%=msg.id%>">
          <button class="deleteButton" type="submit">DELETE</button>
        </form>
        <% } %>
      </div>
      <% }) %>
    </div>
  <% } %>
  </div>

  <%- include("partials/footer.ejs") %>
</body>

</html>